
/*Small mac*/
@media only screen and (min-width: 1030px) {
  .form-background {
    padding: 10px 0px;
    /*background: red;*/
  }
  .taste-carousel h2 {
    left: 0px;
  }
  .wines-index-landing-page h2 {
    left: 0px;
  }

  .mission p {
    margin: 0px 0px;
    /*color: red;*/
  }
  .taste-carousel #wine-bottle-photo {
    transform: scale(0.65);
    top: 76px;
  }

  .form-group #w1 {
    left: 565px;
    position: absolute;
    bottom: 415px;
  }

  .form-group #w2 {
    position: absolute;
    bottom: 330px;
    left: 785px;
  }

  .form-group #w3 {
    bottom: 130px;
    position: absolute;
    left: 900px;
  }
  .form-group #w4 {
    left: 785px;
    position: absolute;
    bottom: -75px;
  }
  .form-group #w5 {
    left: 565px;
    position: absolute;
    bottom: -175px;
  }
  .form-group #w6 {
    left: 355px;
    position: absolute;
    bottom: -75px;
  }
  .form-group #w7 {
    bottom: 130px;
    position: absolute;
    left: 240px;
  }
  .form-group #w8 {
    bottom: 330px;
    position: absolute;
    left: 355px;
  }
}



/*Big mac*/
@media only screen and (min-width: 1600px) {

  .form-background {
    padding: 80px 0px;
    /*background: blue;*/
  }


  .taste-carousel h2 {
    left: -75px;
  }
  .wines-index-landing-page h2 {
    left: -50px;
  }

  .mission p {
    margin: 30px 0px;
    /*color: green;*/
  }
  .taste-carousel #wine-bottle-photo {
    transform: scale(0.85);
    top: 175px;
  }

  .form-group #w1 {
    left: 885px;
    position: absolute;
    bottom: 690px;
  }

  .form-group #w2 {
    position: absolute;
    bottom: 605px;
    left: 1105px;
  }

  .form-group #w3 {
    bottom: 405px;
    position: absolute;
    left: 1220px;
  }
  .form-group #w4 {
    left: 1105px;
    position: absolute;
    bottom: 200px;
  }
  .form-group #w5 {
    left: 885px;
    position: absolute;
    bottom: 100px;
  }
  .form-group #w6 {
    left: 675px;
    position: absolute;
    bottom: 200px;
  }
  .form-group #w7 {
    bottom: 405px;
    position: absolute;
    left: 560px;
  }
  .form-group #w8 {
    bottom: 605px;
    position: absolute;
    left: 675px;
  }
}
