// Specific CSS for your home-page

.mission {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 60px;
  margin-bottom: -20px !important;
  p {
    font-size: 30px;
    margin: 30px 0px;
  }
}

.pages-headers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 60px;
  margin-top: 10px !important;
  margin-bottom: -20px !important;
  p {
    font-size: 30px;
    margin: 30px 0px;
  }
}

.taste-carousel {
  position: relative;
  margin-top: 85px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h2 {
    position: absolute;
    left: -75px;
    top: 20px;
  }
  #taste-carousel-img {
    height: 70vh;
    margin-top: 60px;
  }
}

.wines-index-landing-page {
  position: relative;
  margin-top: 150px;
  margin-bottom: 150px;
  #x1 .wine-cards{
    background: #F52F57;
  }
  #x2 .wine-cards{
    background: #FFC43D;
  }
  #x3 .wine-cards{
    background: #A4036F;
  }
  #x4 .wine-cards{
    background: #5BC0EB;
  }
  #x5 .wine-cards{
    background: #F9A03F;
  }
  #x6 .wine-cards{
    background: #849324;
  }
  h2 {
    position: absolute;
    top: -70px;
    left: -50px;
  }
}



