form {
  margin: 50px 0px;
  .form-column {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    label {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 50px;
      p {
        margin: 0;
        border: 1px solid #256EFF;
        height: 150px !important;
        width: 150px !important;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      p:hover {
        background: #256EFF;
      }
      p:active {
        transform: scale(1.1);
      }
      &.active p{
        background: #256EFF;
      }
    }
  }
}
