.purchase-flex {
  height: 91vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .wine-purchase-back {
    background: white;
    border-radius: 10px;
    height: 40vh;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
      color: black;
    }
    span {
      color: black;
    }
    button {
      span {
        color: white;
        min-height: 30px;
        border: none;
        background: #D81159;
        width: 135px;
        height: 35px;
        display: flex !important;
        align-items: center;
        justify-content: space-around;
      }
    }
  }
}
