#name-form {
  .wine_winetype {
    width: 15vw;
  }
  label {
    display: none !important;
  }
}

#wine-name-form {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 19.89%, rgba(0, 0, 0, 0.56) 100%), image_url("banner-pic.jpg");
  background-size: cover;
  border-radius: 10px;
  height: 50vh;
  width: 400px;
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h3 {
    color: white;
  }
  .wine_name {
        width: 30%;
  }
  #new_wine {
    margin-bottom: 25px;
  }
}
