.wine-show-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 105px;
  /*background: red;*/
  .wine-show-img-div {
    height: 100%;
    width: 40%;
    /*background: blue;*/
    .wine-bottle {
      width: 100%;
    }
  }
  .wine-show-ingredients-div {
    /*background: green;*/
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .wine-taste-index-each {
      position: relative;
      display: flex !important;
      align-items: center !important;
      justify-content: space-around !important;
    p {
        margin: 0;
        margin-bottom: 40px !important;
        border: 1px solid red;
        height: 150px !important;
        width: 150px !important;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      .delete-link {
        color: white !important;
      }

    a {
      opacity: 0;
      position: absolute;
      left: 0px;
      height: 150px;
      width: 150px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      i {
        font-size: 112px;
      }
    }
    a:hover {
      opacity: 1;
    }
    }
      .heavy p {
        border: none;
        background: #49BEAA;
      }
      .sweet p {
        border: none;
        background: #FFC43D;
      }
      .sour p {
        border: none;
        background: #849324;
      }
      .creamy p {
        border: none;
        background: #F52F57;
      }
      .bitter p {
        border: none;
        background: #A4036F;
      }
      .sparkling p {
        border: none;
        background: #5BC0EB;
      }
      .confetti p {
        border: none;
        background: #E3170A;
      }
      .fruity p {
        border: none;
        background: #F9A03F;
      }
  }
}

    .col-form-label {
      display: none !important;
  }


.form-group {
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
  width:100%;


  #w1 {
    left: 885px;
    position: absolute;
    bottom: 690px;
    .collection_check_boxes {
      border: none;
      background: #49BEAA;
      opacity: 0.5;
    }
    .collection_check_boxes:hover {
      background: #49BEAA;
      opacity: 1;
    }
    &.active .collection_check_boxes {
      background: #49BEAA;
      opacity: 1;
      transform: scale(1.1);
    }
  }
  #w2 {
    position: absolute;
    bottom: 605px;
    left: 1105px;
    .collection_check_boxes {
      border: none;
      background: #A4036F;
      opacity: 0.5;
    }
    .collection_check_boxes:hover {
      background: #A4036F;
      opacity: 1;
    }
    &.active .collection_check_boxes {
      background: #A4036F;
      opacity: 1;
      transform: scale(1.1);
    }
  }
  #w3 {
    bottom: 405px;
    position: absolute;
    left: 1220px;
    .collection_check_boxes {
      border: none;
      background: #FFC43D;
      opacity: 0.5;
    }
    .collection_check_boxes:hover {
      background: #FFC43D;
      opacity: 1;
    }
    &.active .collection_check_boxes {
      background: #FFC43D;
      opacity: 1;
      transform: scale(1.1);
    }
  }
  #w4 {
    left: 1105px;
    position: absolute;
    bottom: 200px;
    .collection_check_boxes {
      border: none;
      background: #5BC0EB;
      opacity: 0.5;
    }
    .collection_check_boxes:hover {
      background: #5BC0EB;
      opacity: 1;
    }
    &.active .collection_check_boxes {
      background: #5BC0EB;
      opacity: 1;
      transform: scale(1.1);
    }
  }
  #w5 {
    left: 885px;
    position: absolute;
    bottom: 100px;
    .collection_check_boxes {
      border: none;
      background: #E3170A;
      opacity: 0.5;
    }
    .collection_check_boxes:hover {
      background: #E3170A;
      opacity: 1;
    }
    &.active .collection_check_boxes {
      background: #E3170A;
      opacity: 1;
      transform: scale(1.1);
    }
  }
  #w6 {
    left: 675px;
    position: absolute;
    bottom: 200px;
    .collection_check_boxes {
      border: none;
      background: #849324;
      opacity: 0.5;
    }
    .collection_check_boxes:hover {
      background: #849324;
      opacity: 1;
    }
    &.active .collection_check_boxes {
      background: #849324;
      opacity: 1;
      transform: scale(1.1);
    }
  }
  #w7 {
    bottom: 405px;
    position: absolute;
    left: 560px;
    .collection_check_boxes {
      border: none;
      background: #F9A03F;
      opacity: 0.5;
    }
    .collection_check_boxes:hover {
      background: #F9A03F;
      opacity: 1;
    }
    &.active .collection_check_boxes {
      background: #F9A03F;
      opacity: 1;
      transform: scale(1.1);
    }
  }
  #w8 {
    bottom: 605px;
    position: absolute;
    left: 675px;
    .collection_check_boxes {
      border: none;
      background: #F52F57;
      opacity: 0.5;
    }
    .collection_check_boxes:hover {
      background: #F52F57;
      opacity: 1;
    }
    &.active .collection_check_boxes {
      background: #F52F57;
      opacity: 1;
      transform: scale(1.1);
    }
  }

.form-check {
  padding: 0 !important;
  width: 150px !important;
  .check_boxes {
    display: none;
  }
  &.active .collection_check_boxes {
    background: #256EFF;
  }

  .collection_check_boxes {
    margin: 0;
    border: 1px solid #256EFF;
    height: 150px !important;
    width: 150px !important;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
.collection_check_boxes:hover {
        background: #256EFF;
      }
      .collection_check_boxes:active {
        transform: scale(1.1);
      }
}
}

