#name-form {
  .wine_winetype {
    width: 15vw;
  }
  label {
    display: none !important;
  }
}

#wine-name-form {
  background: white;
  border-radius: 10px;
  height: 50vh;
  width: 400px;
  margin-top: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h3 {
    color: black;
  }
  .wine_name {
    width: 30%;
  }
  #new_wine {
    margin-bottom: 25px;
  }
}
