<div class="container purchase-flex">
  <div class="wine-purchase-back">
    <h3>Order</h3>
    <ul style="color: white;">
      <li>Status: <%= @order.state %></li>
      <li>Item: <%= @order.wine_sku %></li>
      <li>Amount: <%= humanized_money_with_symbol(@order.amount) %></li>
    <ul>
  </div>
</div>
