<div class="container winetype-styles">
  <h2>Which Type of Wine?</h2>

  <div class="ingredient-flex">
    <% @winetypes.each do |winetype| %>
    <%= link_to ingredients_path(winetype: winetype.id), class:"winetype-link" do %>
    <div class="wine-type">
      <%= winetype.name %>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
