.banner {
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 19.89%, rgba(0, 0, 0, 0.56) 100%), image_url("banner-pic.jpg");
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
    color: white;
    font-size: 75px;
    font-weight: lighter;
  }
}


