

.wine-cards {
  position: relative;
  height: 230px;
  width: auto;
  border-radius: 15px;
  margin: 10px;
  background: #D81159;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .wine-bottle-img-container {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .wine-bottle {
      height: 100%;
      width: 50%;
    }
  }
  .wine-name-container {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p {
      margin: 0px !important;
      color: white;
      font-size: 23px;
    }
  }
}

.berlin {
  background: #61B5A9;
}

.paris {
  background: #CF985C;
}

.new-york {
  background: #928050;
}

.london {
  background: #7E7A59;
}

.istanbul {
  background: #E6824B;
}

.rio {
  background: #F06524;
}

.shanghai {
  background: #8FB68E;
}

.moscow {
  background: #BB9365;
}

.sydney {
  background: #D05B57;
}

.rome {
  background: #F79031;
}

.tokyo {
  background: #B3B752;
}

.mykonos {
  background: #A3B874;
}

